* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.row {
  margin: 0px !important;
  padding: 0px !important;
}

.col-9 {
  max-width: 100% !important;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

p {
  margin-bottom: 0px !important;
}

/* Estilos de bloques generales, header, main, footer.  */
body {
  text-align: center;
  color: #212427;
}

header {
  grid-area: header;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-top: 3vh;
}

.mainIndex {
  grid-area: main;
  min-height: 65vh;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainIndexMe {
  grid-area: main;
  min-height: 65vh;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  grid-area: footer;
  width: 100%;
  background-color: #DBE4E6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 5vh 0 5vh 0;
}

/* Estilos de elementos individuales por id*/
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 3px;
}
nav ul li span {
  margin-top: 4px;
}

main video {
  border-radius: 12px;
  max-width: 80%;
  min-width: 65%;
}

footer ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

table {
  border-collapse: collapse;
}
table a {
  color: #1F80E9;
}

tr th {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px;
}
tr td {
  padding: 15px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

main div div p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-top: 0px;
}
main div div span {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
}

label {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #212427;
}

/* Estilos de textos y colores */
.textAlignCenter {
  text-align: center !important;
}

.textAlignStart {
  text-align: start !important;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 1.75rem;
  color: #212427;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #212427;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 1.25rem;
  color: #212427;
}

h4 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 1rem;
  color: #212427;
}

p {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 1rem;
  color: #212427;
  letter-spacing: 1px;
}

/* Estilos de clases */
.inline {
  display: inline-block;
}

.active {
  font-weight: 600;
}

.upper {
  text-transform: uppercase;
}

.spacing {
  letter-spacing: 2px;
}

.subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
}

.margintop3 {
  margin-top: 3vh;
}

.button {
  background-color: #1F80E9;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.homemain {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.projectsmain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emojinav {
  font-size: 20px;
}

.activenav {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.logonav {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  font-weight: 900;
}

.divtitlemain {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
}

.divtitlemain2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #eef2f3;
  padding-top: 25vh;
  padding-bottom: 25vh;
}

.titlemain {
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin-bottom: 16px;
}

.titlefooter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
}

.iconfooter {
  font-size: 32px;
  margin: 5px;
}

.icontitlemain {
  margin-left: 10px;
  margin-right: 10px;
  font-style: normal;
  font-size: 28px;
}

.icontitIndexButtons {
  margin-left: 10px;
  margin-right: 10px;
  font-style: normal;
  font-size: 28px;
}

.link {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #1F80E9;
  text-decoration: underline;
}

.section_2_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  padding: 120px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.freeRecipesBlock {
  background-color: #eef2f3;
  padding: 70px 20px 70px 20px !important;
  border-radius: 8px;
  min-width: 80%;
}

.section_2_main_1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 16px;
}

.section_3_main {
  width: 100%;
  height: 55vh;
  background-color: #eef2f3;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 40px;
}

.section_3_main_1 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 3vw !important;
}

.section_3_main_2 {
  height: 100%;
  width: 50%;
  padding-left: 2vw;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.section_3_main_2_1 {
  background-color: #DBE4E6;
  height: 25%;
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 2vh;
  border-radius: 12px;
  cursor: pointer;
}

.section_3_main_2_2 {
  background-color: #DBE4E6;
  height: 25%;
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 2vh;
  border-radius: 12px;
  cursor: pointer;
}

.backgroundnav {
  background-color: white;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding-top: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 5vh;
  border-radius: 0px 0px 16px 16px;
}

.buttonicon {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
}

.containerProject {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 930px;
  height: 374px;
  padding: 50px;
  background-color: #eef2f3;
  margin-bottom: 40px;
  border-radius: 16px;
}

.imgProject {
  width: 326px;
  height: 283px;
  border-radius: 16px;
}

.containerProject2 {
  margin-left: 40px;
}

.containerRole {
  display: flex;
  justify-content: start;
}

.pRole {
  color: #10239E;
  background-color: #D6E4FF;
  border-radius: 5px;
  padding: 4px 8px;
  margin-right: 8px;
}

.containerProject2 > h2 {
  text-align: start;
  margin: 16px 0;
  font-weight: 700;
}

.containerProjectText {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: start;
  width: 100%;
}

.buttonproject {
  background-color: #DBE4E6;
  height: 15%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 24px;
}

.columnproject {
  display: flex;
  align-items: flex-end;
  padding: 0px 16px;
}

.section1me {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
  margin: 80px 0px 80px 0px;
  text-align: start;
}

.divtextme {
  max-width: 420px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  margin-left: 3vw;
  gap: 2vh;
}

.tagCertification {
  width: 400px;
  height: 82px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: start;
  gap: 0.5vw;
  margin-bottom: 32px;
}

.certification {
  width: auto;
  background-color: #D6E4FF;
  color: #10239E;
  text-align: center;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
}

.otraclase {
  width: 100%;
}

.photoMe {
  height: auto;
  width: 21%;
  border-radius: 16px;
}

.divtextbutton {
  display: flex;
  height: 70%;
}

.blockCallMe {
  background-color: #eef2f3;
  border-radius: 16px;
  width: 100%;
  padding: 32px;
}

.inputStyle {
  width: 100%;
  padding: 8px 16px 8px 16px;
  border-color: #DBE4E6;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.h1Index {
  display: flex;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.mainCallMe {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 40px;
  margin: auto;
}

.containerForm {
  width: 95%;
  height: 320px;
  background-color: #eef2f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 80px;
  padding: 15px;
  border-radius: 16px;
}

.containerName {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.containerInput input {
  width: 250px;
  background-color: #fff;
  padding: 6px;
  border: 1px solid #DBE4E6;
  border-radius: 5px;
}

.containerInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.selectForm {
  width: 250px;
  padding: 6px;
  border: 1px solid #DBE4E6;
  border-radius: 5px;
}

.containerTextarea {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.textarea {
  width: 100%;
  height: 70px;
  border: 1px solid #DBE4E6;
  border-radius: 5px;
}

.send {
  background-color: #1F80E9;
  color: #fff;
  padding: 8px 96px;
  width: 232px;
  border: none;
  border-radius: 5px;
}

.pTextarea {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

/*CSGO*/
/*PROJECT*/
.pProjectText {
  width: 70%;
}

.imgProjectMobile {
  display: none;
}

/*PROJECT*/
/*CALLME*/
.titleContact {
  text-align: start;
  width: 100%;
  margin-bottom: 32px;
  margin-top: 32px;
}

/*CALLME*/
/*ME*/
.photoMeTablet {
  display: none;
}

/*ME*/
.mainProject {
  width: 930px;
}

/*LOL*/
/* Media queries */
/* Mobile Styles */
@media only screen and (max-width: 770px) {
  .icontitlemain {
    font-size: 24px;
    font-style: normal;
  }
  .section_2_main {
    max-width: 100%;
    border-radius: 8px;
    padding: 40px 15px 40px 15px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .backgroundnav {
    justify-content: space-between;
  }
  .logonav {
    display: none;
  }
  .divtitlemain2 {
    flex-direction: column-reverse;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .divtitlemain {
    align-items: flex-start;
    padding-top: 5vh;
  }
  .titlemain {
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .marginleft5 {
    margin-left: 0px;
  }
  .section_3_main {
    width: 100%;
    height: 55vh;
    background-color: #eef2f3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .section_3_main_1 {
    height: 35%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-right: 0px !important;
  }
  .section_3_main_2 {
    height: 65%;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    margin: auto;
  }
  .section_3_main_2_1 {
    height: 85%;
    width: 100%;
    justify-content: center;
    padding-left: 0px;
  }
  .section_3_main_2_2 {
    height: 85%;
    width: 100%;
    justify-content: center;
    padding-left: 0px;
  }
  .icontitIndexButtons {
    margin-left: 0px;
    margin-right: 10px;
  }
  .project {
    width: 100%;
    flex-direction: column;
    padding: 0px 0px 0px;
    justify-content: start;
  }
  .noMarginT {
    margin: 0px 0px 20px 0px;
  }
  .divimgproject {
    display: flex;
    background-color: #74C8EA;
    max-width: 100%;
    height: 30%;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 16px 16px 0px 0px;
  }
  .color1 {
    background-color: #797FB9;
  }
  .color2 {
    background-color: #F57A99;
  }
  .imgproject {
    max-height: 95%;
  }
  .divtextproject {
    margin-left: 0px;
    gap: 2vh;
  }
  .columnproject {
    justify-content: end;
  }
  .mainProject {
    padding: 10px;
    width: auto;
  }
  .divResponsive {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .h1Index {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 8px;
  }
  .containerProject {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 16px;
    background-color: #eef2f3;
  }
  .containerProject2 {
    width: 100%;
    margin: 0;
  }
  .containerRole {
    flex-direction: column;
  }
  /*CALLME*/
  .mainCallMe {
    width: 70%;
  }
  /*CALLME*/
  /*ME*/
  .photoMeTablet {
    display: inline-block;
    height: 450px;
    border-radius: 16px;
  }
  .photoMe {
    display: none;
  }
  /*Project*/
  .containerProject2 {
    height: 283px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 32px;
  }
  .containerRole {
    flex-direction: row;
  }
  .buttonproject {
    height: 22%;
    margin-right: 24px;
    margin-left: 0px;
  }
  .containerForm {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .logonav {
    display: none !important;
  }
  .divtitlemain {
    align-items: center;
    padding-top: 5vh;
  }
  .h1Index {
    align-items: center;
  }
  .section_3_main_2 {
    width: 100%;
  }
}
@media only screen and (max-width: 426px) {
  .icontitlemain {
    font-size: 24px;
    font-style: normal;
  }
  .section_2_main {
    max-width: 100%;
    border-radius: 8px;
    padding: 40px 15px 40px 15px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .backgroundnav {
    justify-content: center;
  }
  .logonav {
    display: none;
  }
  .divtitlemain2 {
    flex-direction: column-reverse;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .divtitlemain {
    align-items: center;
    padding-top: 5vh;
  }
  .titlemain {
    justify-content: center;
    flex-wrap: wrap;
  }
  .marginleft5 {
    margin-left: 0px;
  }
  .section_3_main {
    width: 100%;
    height: 55vh;
    background-color: #eef2f3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .section_3_main_1 {
    height: 35%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-right: 0px !important;
  }
  .section_3_main_2 {
    height: 65%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
  }
  .section_3_main_2_1 {
    height: 85%;
    width: 100%;
    justify-content: center;
    padding-left: 0px;
  }
  .section_3_main_2_2 {
    height: 85%;
    width: 100%;
    justify-content: center;
    padding-left: 0px;
  }
  .icontitIndexButtons {
    margin-left: 0px;
    margin-right: 10px;
  }
  .project {
    width: 100%;
    height: 460px;
    flex-direction: column;
    padding: 0px 0px 32px 0px;
    justify-content: start;
  }
  .noMarginT {
    margin: 0px 0px 20px 0px;
  }
  .divimgproject {
    display: flex;
    background-color: #74C8EA;
    max-width: 100%;
    max-height: 30%;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 16px 16px 0px 0px;
  }
  .color1 {
    background-color: #797FB9;
  }
  .color2 {
    background-color: #F57A99;
  }
  .imgproject {
    max-height: 95%;
  }
  .divtextproject {
    margin-left: 0px;
    gap: 2vh;
    position: relative;
  }
  .columnproject {
    justify-content: end;
  }
  .mainProject {
    padding: 10px;
  }
  .rolesproject {
    position: absolute;
    width: 300px;
    top: 44px;
  }
  .marginTitleCardProject {
    margin-bottom: 24px;
  }
  .section1me {
    flex-direction: column-reverse;
    margin: 20px 0px 80px 0px;
    height: auto;
  }
  .photoMe {
    width: 100%;
    height: 50%;
    display: block;
  }
  .divResponsive {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .h1Index {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 8px;
  }
  .containerProject {
    width: 100%;
    padding: 0;
    flex-direction: column;
    margin-bottom: 64px;
  }
  .containerProject2 {
    width: 100%;
    margin: 0;
    padding: 16px;
  }
  .imgProject {
    width: 100%;
    display: none;
  }
  .containerRole {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    margin-top: 8px;
  }
  .containerForm {
    width: 100%;
    height: auto;
    justify-content: start;
    margin-bottom: 80px;
  }
  .containerName {
    flex-direction: column;
  }
  .send {
    width: 100%;
    margin-top: 32px;
  }
  .certification {
    text-align: start;
    max-width: 300px;
  }
  .mainIndexMe {
    padding: 10px;
  }
  .containerProjectText {
    text-align: start;
  }
  .buttonproject {
    margin-left: 0px;
  }
  .tagCertification {
    margin-bottom: 24px;
    gap: 2vw;
    width: 274px;
    height: auto;
  }
  .containerInput {
    margin-top: 16px;
  }
  .containerInput input {
    width: 100%;
  }
  .mainCallMe {
    width: 100%;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .selectForm {
    width: 100%;
    margin-top: 16px;
  }
  .containerTextarea {
    margin-top: 16px;
  }
  .divtextme {
    width: 100%;
    margin-left: 0px;
    height: 550px !important;
  }
  .pProjectText {
    width: 80%;
  }
  .imgProjectMobile {
    display: block;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  .titleContact {
    margin-bottom: 24px;
  }
  /*ME*/
  .photoMeTablet {
    display: none;
  }
}
/* Animaciones */
.waving-hand {
  animation: waving-hand 2.5s infinite;
  transform-origin: 70% 70%;
}

@keyframes waving-hand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.sidetoside {
  animation: sidetoside 2.5s infinite;
}

@keyframes sidetoside {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}
.sidetosidetwo {
  animation: sidetosidetwo 2.5s infinite;
}

@keyframes sidetosidetwo {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}
.upDown {
  animation: upDown 2s;
}

@keyframes upDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.hoverUnderline {
  display: inline-block;
  position: relative;
  color: black;
}

.hoverUnderline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hoverUnderline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.shake {
  animation: shake 1s infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateY(-9px);
  }
  35% {
    transform: translateY(-9px) rotate(17deg);
  }
  55% {
    transform: translateY(-9px) rotate(-17deg);
  }
  65% {
    transform: translateY(-9px) rotate(17deg);
  }
  75% {
    transform: translateY(-9px) rotate(-17deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*# sourceMappingURL=estilos.css.map */
